<%= bootstrap_devise_error_messages! %>
<div class="wrapper-page animated fadeInDown" >
  <div class="panel panel-color panel-primary" >
    <div class="panel-heading"> 
       <h3 class="text-center m-t-10"> Mettre à jour mon compte <a href="/" style="color:white;"><strong>Algoski</strong></a></h3>
    </div> 

    <div class='form-horizontal m-t-40'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-group">
      <div class="col-xs-12">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
          <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it") %>)</i>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Mot de passe' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes') %>)</i>
          <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </div>
    

    <div class="form-group text-right">
      <div class="col-xs-12">
          <%= f.submit t('.update', default: 'Update'), class: 'btn btn-purple w-md' %>
      </div>
    </div>

    <div class="form-group m-t-30">
      <div class="col-sm-12 text-center">
          Insatisfait ? <%= link_to t('.cancel_my_account', default: 'Cancel my account'), registration_path(resource_name), data: { confirm: t('.are_you_sure', default: "Are you sure?") }, method: :delete %>
      </div>
    </div>

    <% end %>
    </div>

  </div>
</div>

