<h1>Liste d'utilisateurs</h1>

<table>
  <thead>
    <th>Prénom</th>
    <th>Nom</th>
    <th>email</th>
    <th>Créé le</th>
    <th>Type de compte</th>
    <th>Abonnements</th>
  </thead>
  
<% @users.each do |user| %> 
  <tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td><%= user.account %></td>
  <td>
    <ul>
      <% user.resorts.each do |resort|%>
        <li>
        <%= resort.ville %>
        </li>
      <% end %>
    </ul>
  </td>
  </tr>
<% end %>

</table>