<footer class="footer">
          <div class="container">
        <div class="row">
          <div class="col-lg-1 ">
            <%= link_to pages_home_path, class:"navbar-brand-footer" do %>
              <%= image_tag 'logo-grey.png', alt:'algoski', size:'40', class:'brightness'%>
            <% end %>
          </div>
            
            <div class="col-lg-7 col-lg-offset-1 only-big-screen">
              <ul class="nav navbar-nav">
                <li><%= link_to "Stations de ski", pages_home_path(anchor: 'resorts') %></li>
                <li><%= link_to "Tarifs", pages_home_path(anchor: 'pricing') %></li>
                <li><%= link_to "Contact", pages_home_path(anchor: 'features') %></li>
              </ul>
            </div>

            <div class="col-lg-2 col-lg-offset-1 only-big-screen">
              <ul class="social-icons">
                <li>
                  <%= link_to contact_path do %>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  <% end %>
                </li>
              </ul>
          </div>

        </div> <!-- end row -->
      </div> <!-- end container -->
      </footer>
      <!-- End Footer -->