<%= render 'header' %>

<section class="section features" id="how">
    <div class="container text-center">

      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Comment ça marche ?</h2>
          <p class="slogan">Notre méthodologie pour vous apporter un contenu pertinent qui vous fasse gagner du temps et vous permettent de vous différencier face à vos concurrents</p>
        </div>
      </div> <!-- End row -->

      <div class="row pt80">
              <div class="col-sm-4">
                  <div class="features-2">
                      <%= image_tag 'drawing-tablet.png' %>
                  </div>
                  <div>
                    <h3>Retours de propriétaires et d'agences immobilières</h3>
                    <p>A la base du projet, nous avons constaté que de nombreux propriétaires d'appartements et agences immobilières utilisaient les sites d'annonces (comme Abritel, AirBnb ou Homelidays) pour comparer leur prix avec la concurrence. Cependant c'est une tâche fastidieuse lorsqu'elle est réalisée à la main.</p>
                  </div>
              </div> <!-- end col -->

              <div class="col-sm-4">
                  <div class="features-2">
                      <%= image_tag 'code-window.png'%>
                  </div>
                  <div>
                    <h3>Le robot Algoski qui collecte les données en permanence</h3>
                    <p>Forts de notre expérience en programmation et en big data, nous avons alors entrepris de créer un robot qui collecte toutes ces données concurrencielles pour nos clients. Nous sommes capables de lancer plusieurs robots en même temps et de récupérer ainsi des informations clés provenant de plusieures <em>centaines de milliers d'annonces</em>.</p>
                  </div>
              </div> <!-- end col -->

              <div class="col-sm-4">
                  <div class="features-2">
                    <%= image_tag 'clock.png' %>
                  </div>
                  <div>
                    <h3>Une analyse sur mesure pour nos clients</h3>
                    <p>Nous traitons ensuite ces données, pour en retirer des analyses sur-mesure pour nos clients. Grâce à un accès dédié sur le site Algoski ils ont accès à un tableau de bord détaillé par station. Ces indicateurs clés permettent à nos clients de mieux connaître leur concurrence et ainsi de mieux se positionner en terme d'offre et de prix.</p>
                  </div>
                </div> <!-- end col -->

            </div> <!-- End row -->
    </div>
  </section> 
  <!-- features -->





  <section class="content-wrap bg-light section pb0" id="features">
    <div class="container">
          <div class="row">

              <div class="col-sm-6">
                  <div class="feature-sec">
                    <h3>Fonctionnalités</h3>
                    <p>Voici la liste des fonctionnalités disponibles par station de ski
                      <ul>
                        <li>Prix moyens à la semaine</li>
                        <li>Modes de réservation : taux de séjour d'au moins 7 nuits, taux d'annonce proposant du paiement en ligne...</li>
                        <li>Chiffre clés du secteur par station : nombres d'annonces, nombre d'appartements, nombre moyen de chambre...</li>
                        <li>Types de logements dans la station et prix moyen par type de logement</li>
                        <li>Commentaires : taux d'annonces avec au moins 1 commentaire, notes moyennes...</li>
                        <li>Tableau détaillé de toutes les annonces</li>
                      </ul>
                    </p>
                    <a href="#" class="use-btn btn-primary">Voir la démo gratuite</a>
                  </div>
              </div><!-- end col -->

              <div class="col-sm-6 featured-img">
                <%= image_tag 'screen-3.png', class:'img-responsive', alt:'Features-img' %>
              </div>

        </div> <!-- end row -->
    </div><!-- end container -->
  </section>
  <!-- end Features -->




  <section class="section" id="pricing">
      <div class="container">

        <div class="row text-center">
        <div class="col-sm-12">
          <h2 class="title">Tarifs</h2>
          <p class="slogan">Déjouez la concurrence et optimisez vos locations : louez plus, louez mieux.</p>
        </div>
      </div>
      <!-- end row -->

          <div class="row pt80">
              <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="price_card text-center">
                <div class="header bg-info">
                  <span class="price">29€</span>
                  <span class="name">Offre mini</span>
                </div>
                <ul class="price-features">
                  <li>Saison 2017-2018</li>
                  <li>1 station de ski</li>
                  <li>Limités aux appartements et chalets d'une même capacité d'accueil</li>
                </ul>
                <button class="btn btn-info w-md">Sign Up</button>
              </div> <!-- end Pricing_card -->
                    </div> <!-- end col -->

                    <div class="col-sm-4">
                      <div class="price_card text-center">
                <div class="header bg-pink">
                  <span class="price">49€</span>
                  <span class="name">Offre classique</span>
                </div>
                <ul class="price-features">
                  <li>Saison 2017-2018</li>
                  <li>1 station de ski</li>
                  <li>Tous appartements et chalets</li>
                </ul>
                <button class="btn btn-pink w-md">Sign Up</button>
              </div>
              <span class="tip">* Plus répandue chez les particuliers propriétaires</span>
                    </div> <!-- end col -->

                    <div class="col-sm-4">
                      <div class="price_card text-center">
                <div class="header bg-purple">
                  <span class="price">249€</span>
                  <span class="name">Offre pro</span>
                </div>
                <ul class="price-features">
                  <li>Saison 2017-2018</li>
                  <li>Toutes les stations de ski de notre base</li>
                  <li>Tous appartements et chalets</li>
                </ul>
                <button class="btn btn-purple w-md">Sign Up</button>
              </div> <!-- end Pricing_card -->
                    </div> <!-- end col -->
                  </div> <!-- end row -->
              </div> <!-- end Col-10 -->
          </div> <!-- end row -->
      </div> <!-- end Container -->
  </section>
  <!-- END Pricing -->





  <section class="bg-light section" id="clients">
        <div class="container">
          <div class="row text-center">
        <div class="col-sm-12">
          <h2 class="title">Stations de ski</h2>
          <p class="slogan">Des centaines de stations de ski dans notre panel.</p>
          <div class="col-md-6">
            <p>Vérifier que votre station est dans la liste :</p>
            <%= form_tag({controller: "users", action: "dashboard"}, method: :get, class:"form-inline" ) do %>
            <div class="input-group">
                <%= select_tag(:ville_searched, options_for_select(list_station), multiple: false, class:'form-control select-resort') %>
            <% end %>          

          </div>
          <div class="col-md-6">
            <p>Là un carousel avec des photos de stations ça serait cool!</p>
          </div>
        </div> <!-- end Col -->
      </div> <!-- end row -->
        </div><!-- /End Container -->
    </section>
    <!-- End Clients -->

<%= render 'footer' %>