<!-- Aside Start-->
<aside class="left-panel">

    <!-- brand -->
    <div class="logo">
        
        <%= link_to pages_home_path, class:"logo-expanded" do %>
            <!-- <i class="ion-social-buffer"></i> -->
            <%= image_tag('logo-white.png', size:'30')%>
            <span class="nav-label">Algoski</span>
        <% end %>
    </div>
    <!-- / brand -->

    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li>
            <%= link_to dashboards_analysis_path do %>
                <i class="ion-stats-bars"></i> 
                <span class="nav-label">Analyses</span>
            <% end %>
            </li>

            <li>
            <%= link_to '#' do %>
                <i class="ion-location"></i> 
                <span class="nav-label">Carte</span>
            <% end %>
            </li>

            <li>
            <%= link_to dashboards_data_table_path do %>
                <i class="ion-grid"></i> 
                <span class="nav-label">Tableau</span>
            <% end %>
            </li>

            <li class="active">
            <%= link_to dashboards_profile_path do %>
                <i class="ion-person"></i> 
                <span class="nav-label">Profile</span>
            <% end %>
            </li>
                
        </ul>
    </nav>
        
</aside>
<!-- Aside Ends-->