<!-- Header -->
<header class="top-head container-fluid">
    <div class="custom-header">
        
        <div class="custom-header-element">
            <button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="custom-header-element" style="width:100%;">
        
                <div class="col-md-6">
                    <% if @action_tag == 'analysis' %>
                        <h3><%= titleize(@station_name) %></h3>
                        <h4>capacité d'accueil : <%= @number_of_guests %><i class="fa fa-user" aria-hidden="true"></i></h4>
                    <% elsif @action_tag == 'data_table' || @action_tag == 'map' %>
                        <h3 style="padding-top: 5px; margin-top:0;"><%= titleize(@station_name) %></h3>
                    <% end %>
                </div>

                <div class="col-md-6">
                    <% if @action_tag == 'analysis' %>
                        <% if current_user.subscriptions.count > 1 %>
                            <%= render 'formlong' %>
                        <% else %>
                            <%= render 'formnbguest' %>
                        <% end %>
                    <% elsif ( @action_tag == 'data_table' || @action_tag == 'map' ) && current_user.subscriptions.count > 1 %>
                        <%= render 'formresort' %>
                    <% end %>
                </div>
            </div>

        
        
        <!-- Right navbar -->
        <div class="custom-header-element">
            <ul class="list-inline navbar-right top-menu top-right-menu hidden-xs">  
               <% if user_signed_in? %>
                    <li><%= link_to "Déconnexion",destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "Se connecter", new_user_session_path %></li>
                <% end %>
            </ul>
        </div>
        <!-- End right navbar -->

    </div>

    </div>

</header>
<!-- Header Ends -->

       
