<!-- Header -->
<header class="top-head container-fluid">
    <button type="button" class="navbar-toggle pull-left">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <div class="custom-mid-header col-md-8">
        <% if @station_name %>
            <h3><%= titleize(@station_name) %></h3>
            <% if @number_of_guests %>
                <h4>capacité d'accueil : </h4>

                <%= form_tag( { controller: "dashboards", action: "analysis" }, method: :get, class:"form-inline col-xs-3" ) do %>
                    <%= select_tag( :number_of_guests, options_for_select( [2,4,6,8,10] ), class:'form-control select2 col-xs-1', multiple: false, prompt: @number_of_guests ) %>
                    <span class="input-group-btn">
                        <%= submit_tag "OK", class: "btn btn-primary" %>
                    </span>
                <% end %>          

            <% end %>
        <% end %>
    </div>
    
    <!-- Right navbar -->
    <ul class="list-inline navbar-right top-menu top-right-menu hidden-xs">  
       <% if user_signed_in? %>
            <li><%= link_to "Déconnexion",destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Se connecter", new_user_session_path %></li>
        <% end %>
    </ul>
    <!-- End right navbar -->

</header>
<!-- Header Ends -->

       
