<%= render 'aside' %>

<!--Main Content Start -->
<section class="content">
    
   <%= render 'header' %>

    <h1>Dashboards#synthesis</h1>
    <p>Find me in app/views/dashboards/synthesis.html.erb</p>

    <%= render 'footer' %>

</section>
<%= javascript_include_tag 'application_dashboard.js', 'data-turbolinks-track': 'reload'%>
<%= javascript_include_tag 'dashboardanalysisjs/application.js', 'data-turbolinks-track': 'reload'%>