<%= render 'aside' %>

<!--Main Content Start -->
<section class="content">
    
 <%= render 'header' %>

 <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Markers
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet2" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="gmaps-markers" class="gmaps"></div> 
                                </div>
                            </div>
                        </div>

                    </div>

   <%= render 'footer' %>

</section>

<%= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true' %>
<%= javascript_include_tag 'dashboardmapjs/application.js', 'data-turbolinks-track': 'reload'%>
