<section class="section padding-top-reduced" id="pricing">
    <div class="container">

      <div class="row text-center">
      <div class="col-sm-12">
        <h2 class="title">Nos offres</h2>
        <p class="slogan">Déjouez la concurrence et optimisez vos locations : louez plus, louez mieux.</p>
      </div>
      </div>
      

    <!-- end row -->

  <% if current_user.account == nil %>

      <div class="row text-center">
      <div class="col-sm-offset-1 col-sm-10">
        <p class="slogan">Deux offres à choisir selon votre situation</p>
      </div>
      </div>

        <div class="row pt80">
            <div class="col-md-10 col-md-offset-1">
                <div class="row pricing-container">

                  <div class="col-sm-4">
                    <div class="price_card text-center">
                    <%= form_tag charges_path do %>
                      <div class="header bg-pink">
                        <span class="name">PARTICULIER</span>
                        <span class="price">49€</span>
                      </div>
                      <ul class="price-features">
                        <li>Saison 2017-2018</li>
                        <li>Tous appartements et chalets</li>
                        <li><span style="font-weight: bold">1 station de ski</span>, au choix parmis nos <%= @resort_count %> stations</li>
                      </ul>
                        
                        <%= hidden_field_tag :account_type, 'individual' %> 
                          <script src="https://checkout.stripe.com/checkout.js" 
                            class="stripe-button"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="Formule particulier"
                            data-amount="4900"
                            data-locale="auto"
                            data-label="Souscrire"
                            data-name="Algoski"
                            data-email='<%= current_user.email %>'
                            data-image= 'http://www.algo.ski/assets/logo-grey-d1ae9361718743edfff0c1b0b67dec2793625a6eeb3867d1f3117f88c0a9f114.png'
                            data-allow-remember-me=false
                            data-currency="eur"></script>
                    
                    <% end %>
                    </div>
                    <span class="tip">Idéal si vous êtes propriétaire d'un seul bien</span>
                  </div> <!-- end col -->

                  <div class="col-sm-4">
                    <div class="price_card text-center">
                    <%= form_tag charges_path do %>
                      <div class="header bg-purple">
                        <span class="name">PROFESSIONNEL</span>
                        <span class="price">249€</span>
                      </div>
                      <ul class="price-features">
                        <li>Saison 2017-2018</li>
                        <li>Tous appartements et chalets</li>
                        <li style="font-weight: bold">Toutes les stations de ski de notre base : <%= @resort_count %> stations</li>
                      </ul>
                      
                      <%= hidden_field_tag :account_type, 'professional' %>
                    
                      <script src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Formule professionnel"
                        data-amount="24900"
                        data-locale="auto"
                        data-label="Souscrire"
                        data-name="Algoski"
                        data-email='<%= current_user.email %>'
                        data-image= 'http://www.algo.ski/assets/logo-grey-d1ae9361718743edfff0c1b0b67dec2793625a6eeb3867d1f3117f88c0a9f114.png'
                        data-allow-remember-me=false
                        data-currency="eur"></script>
                      
                        
                    <% end %>
                    </div> <!-- end Pricing_card -->
                    <span class="tip">Pour les professionnels qui veulent comparer le marché immobilier dans plusieurs stations de ski</span>
                  </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end Col-10 -->
        </div> <!-- end row -->

<% elsif current_user.account == 'individual' %>

      <div class="row text-center">
      <div class="col-sm-offset-1 col-sm-10">
        <p> Notre outil vous plait ? Vous aimeriez obtenir ces données sur l'ensemble des stations de notre base ? C'est possible en prenant un surclassement.</p>
      </div>
      </div>

          <div class="row pt80">
            <div class="col-md-10 col-md-offset-1">
                <div class="row pricing-container">
                  <div class="col-sm-4">
                    <div class="price_card text-center">
                    <%= form_tag charges_path do %>
                      <div class="header bg-purple">
                        <span class="name">PROFESSIONNEL</span>
                        <h4>surclassement</h4>
                        <span class="price">200€</span>
                      </div>
                      <ul class="price-features">
                        <li>Saison 2017-2018</li>
                        <li>Tous appartements et chalets</li>
                        <li style="font-weight: bold">Toutes les stations de ski de notre base : <%= @resort_count %> stations</li>
                      </ul>
                      
                      <%= hidden_field_tag :account_type, 'professional-upgrade' %>
                    
                      <script src="https://checkout.stripe.com/checkout.js" 
                        class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="Formule professionnel"
                        data-amount="20000"
                        data-locale="auto"
                        data-label="Surclasser"
                        data-name="Algoski"
                        data-email='<%= current_user.email %>'
                        data-image= 'http://www.algo.ski/assets/logo-grey-d1ae9361718743edfff0c1b0b67dec2793625a6eeb3867d1f3117f88c0a9f114.png'
                        data-allow-remember-me=false
                        data-currency="eur"></script>
                      
                        
                    <% end %>
                    </div> <!-- end Pricing_card -->
                  </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end Col-10 -->
        </div> <!-- end row -->

<% end %>

    </div> <!-- end Container -->
</section>
  
</div>
<%= render 'pages/guarantee' %>

<%= render 'footer' %>