<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109708440-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-109708440-1');
		</script>

		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Tableaux de bords, indicateurs clés pour réussir ses locations en station.">
	  <meta name="author" content="Algoski">

		<title>Algoski - Le comparateur des locations au ski</title>

	    <!-- Bootstrap core CSS and other assets using asset pipeline-->
	    <%= stylesheet_link_tag  'dashboardscss/application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= stylesheet_link_tag 'https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css' %>

	    <%= include_gon %>

	    <%= csrf_meta_tags %>
	   
	    <%= favicon_link_tag 'logo-white.png' %>
	    
	</head>

	<body>

		
			<% if notice %>
			<p class="alert alert-success" style="text-align: right;"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert alert-danger" style="text-align: right;"><%= alert %></p>
			<% end %>

			<%= yield %>
  	
  	
	</body>

</html>
