<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Dashboard">
	  <meta name="author" content="Algoski">

		<title>Algoski - Le comparateur des locations au ski</title>

	    <!-- Bootstrap core CSS and other assets using asset pipeline-->
	    <%= stylesheet_link_tag  'dashboardanalysiscss/application', media: 'all', 'data-turbolinks-track': 'reload' %>

	    <%= include_gon %>
	   
	    <%= favicon_link_tag 'logo-white.png' %>
	    
	</head>

	<body>

		
			<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
			<% end %>

			<%= yield %>
		
		<%= render 'cookies_eu/consent_banner' %>
  	
  	
	</body>

</html>
